
.cont_panel{
    margin-left: 5%;
}

#search{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

.input_busq{
    height: 50px;    
}

.header_table{
    border-left: 2px solid #b06048;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.img_cond{
    border-radius: 100%;
    width: 10%;
}

.contenido_cel{
    display: flex;
}

.contenido_cel img{
    margin-right: 4%;
}

.controles{
    display: flex  !important;
    
}

#button_Add{
    cursor: pointer;
    border: 2px solid gray;
    border-radius:  4px;

}

.modal-footer{
    margin: auto;
    width: 100%;
    justify-content: center !important;
}

.btn-cncl{
    color: white;
    background: red !important;
}

.btn-registrar{
    color: white;
    background: green !important;

}

