#landing-page-header {
  color: #fff;
  height: 100vh;
  padding-top: 20px;
}

#landing-page-banner {
  background: #02023d;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#landing-page-banner span {
  font-weight: bold;
  text-align: center;
}

#landing-page-banner span:first-of-type {
  font-size: 80px;
}

#landing-page-banner span:last-of-type {
  font-size: 26px;
  color: #c8d2db;
  margin-top: 30px;
}

#landing-page-banner button {
  background: #f4733e;
  border: #f4733e solid 1px;
  font-weight: bold;
  border-radius: 4px;
  width: 208px;
  height: 56px;
  margin-top: 50px;
  color: #fff;
}

@media (max-width: 768px) {
  #landing-page-banner span {
    margin: 0 2rem;
  }
  #landing-page-banner span:first-of-type {
    font-size: 2.1rem;
  }
  #landing-page-banner span:last-of-type {
    font-size: 1rem;
  }
  #landing-page-banner {
    height: 82vh;
  }
  #landing-page-header {
    height: auto;
  }
}
