#landing-page-roles {
  background-color: #fff;
  padding: 10rem;
  text-align: center;
}

#landing-page-roles h1 {
  font-weight: bold;
  color: #02023d;
  font-size: 3em;
  margin-bottom: 1em;
}

#landing-page-roles h3 {
  font-size: 2rem;
  color: #02023d;
  font-weight: bold;
}
