#landing-page-roles {
  background-color: #fff;
  padding: 10rem;
  text-align: center;
}

#landing-page-roles h1 {
  font-weight: bold;
  color: #02023d;
  font-size: 3em;
  margin-bottom: 1em;
}

#landing-page-roles h2 {
  font-size: 2rem;
  color: #02023d;
  font-weight: bold;
}

@media (max-width: 912px) {
  #landing-page-roles {
    padding: 10rem 0;
  }
}

@media (max-width: 599px) {
  #landing-page-roles {
    padding: 10rem 0;
  }
  #landing-page-roles > div {
    flex-direction: column;
  }

  #landing-page-roles h2 {
    font-size: 1.5rem;
  }
  #landing-page-roles {
    padding: 2rem 0;
  }
}

@media (max-width: 540px) {
  #landing-page-roles h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
}
