#landing-page-benefits {
  margin: 200px 0;
}

.benefit-card-large {
  border: solid 1px #000;
  background-color: #fff;
  padding: 0 50px;
  display: flex;
  text-align: left;
  min-height: 426.35px;
  margin-bottom: 20px;
}

.benefit-card-large .benefit-card-img {
  transform: rotate(10deg);
}

.benefit-card-large-text h2 {
  text-align: left;
  font-weight: bold;
  margin-top: 3em;
  color: #02023d;
}

.benefit-card-large-text p {
  margin-bottom: 3em;
  margin-right: 5em;
}

.badges-container {
  margin: 2em 0;
}

.benefit-card {
  border: solid 1px #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px 10px;
}

.benefit-card h2 {
  font-weight: bold;
  color: #02023d;
}

.benefit-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
}

.benefit-card-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 991px) {
  .card1 {
    order: 1;
  }
  .card2 {
    order: 2;
  }
  .card3 {
    order: 4;
  }
  .card4 {
    order: 3;
  }
  .card5 {
    order: 5;
  }
}

@media (max-width: 768px) {
  #landing-page-benefits {
    margin: 2rem 0;
  }
  .benefit-card-large {
    flex-direction: column;
    padding: 0;
  }
  .benefit-card-large-text {
    text-align: center;
    order: 2;
  }
  .benefit-card-large-text h2 {
    margin-top: 0;
    text-align: center;
  }
  .benefit-card-large .benefit-card-img {
    max-width: none;
    order: 1;
  }
  .badges-container {
    padding: 0 2.5rem;
  }
  .benefit-card-large-text p {
    margin: 0 1rem;
  }
}
