.Login{
    margin-left: 5% ;
    margin-right: 5% ;
    margin-top: 3%;
    margin-bottom: 2%;
}
html, body{
    height: 100%;
}
.Login-logo{  
    width: 80%;
}

body, #root, .container_login, .fondo{
    height: 100%;
}

#root{
    background-color: #f0f0f0;
}
.container_login{
    display: flex;
    justify-content: center;
    width: 60%;
}
#info{
    width: 60%;
    margin: auto;
}

.input_pass{
    margin-bottom: 0px;
}
.Login-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.Login-title img{
    width: 5%;

}

#tarjeta_login{
    width: 60% !important;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #b8b8b8;
    border-top: 5px solid  #506048 ;
}

#img_login{
    display: flex;
    justify-content: center;
    
}



#registrate{
    margin-top: 30px;
    text-align: center;
    font-size: 11px;
}
#btn-round{
    background: #506048;
    border:none;
}

#cont_button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

#registrate a{
    color: #B06058;
}


/*Responsive*/
@media only screen and (max-width: 800px) {
    #tarjeta_login{
        display: block;
        margin: auto;
    }
    
    .container_login{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media only screen and (max-width: 701px) {
    #tarjeta_login{
        display: block;
        margin: auto;
    }
    
    .container_login{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
  
