#landing-page-call-to-action {
  background-color: #02023d;
  color: #fff;
  padding: 6rem;
}

#landing-page-call-to-action h1 {
  text-align: center;
  margin-bottom: 3rem;
}

#landing-page-call-to-action div {
  display: flex;
  justify-content: center;
}

#landing-page-call-to-action button {
  background-color: #f4733e;
  border: solid 1px #f4733e;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  padding: 0.5em 4em;
  font-weight: bold;
}

@media (max-width: 768px) {
  #landing-page-call-to-action {
    padding: 6rem 2rem;
  }
  #landing-page-call-to-action h1 {
    font-size: 2rem;
  }
}
