<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel=StyleSheet href="../css/product.css" type="text/css" media=screen>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Product</title>
  </head>
  <body>
    
    <div className="container" id="productoHeader">
        <div className="row justify-content-center">
            <div className="col-sm-6 col-12" id="imgContainer">
                <div className="card bg-light mb-3">
                    <div className="card-body">
                      <h5 className="card-title">Cupcake de Vainilla</h5>
                    </div>
                    <div id="card-body-img">
                        <img src="../imagenes/cupcakes.jpg" className="card-img-bottom" alt="Cupcakes">
                    </div>
                  </div>
            </div>
            <div className="col-sm-6 col-12" id="productoVendedor">
                <div className="container" id="productoUpRight">
                    <div className="row justify-content">
                        <div className="col-12">
                            <h5>Vendedor</h5>
                            <br>
                        </div>
                        <div className="col-6">
                            <p>Andrea Rodriguez </p>
                        </div>
                        <div className="col-6">
                            <p>☆☆☆☆☆ Estrellas</p>
                        </div>
                        <div className="col-12" id="productoDescripcion"> 
                            <p>
                                Cupcakes de vainilla 100% veganos sin glúten 120g, con glaseado de coco y grageas de colores.
                                Cupcakes de vainilla 100% veganos sin glúten 120g, con glaseado de coco y grageas de colores.
                            </p>
                            <br>
                        </div>
                        
                        <div className="col-6">
                            <h6>Distancia</h6>
                        </div>
                        <div className="col-6">
                            <p>6 Etapas</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Seccion 2-->
            <div className="col-sm-6 col-12" id="productoPreFactura">
                <div className="container" id="productoTwoLeft">
                    <div className="row justify-content">
                        <div className="col-6">
                            <p>Precio</p>
                        </div>
                        <div className="col-6 text-right">
                            <p>$1.50</p>
                        </div>
                        <div className="col-6">
                            <p>Cantidad</p>
                        </div>
                        <div className="col-6 text-right">
                            <p>-2+</p>
                        </div>
                        <div className="col-6">
                            <p>Total</p>
                        </div>
                        <div className="col-6 text-right">
                            <p>$3.00</p>
                        </div>
                        <div className="col-12 text-center">
                            <button type="button" className="btn btn-primary">Agregar a carrito</button>
                        </div>
                    </div>
                </div>
            </div>
            <div className="col-sm-6 col-12" id="productoComentarios">
                <div className="container" id="productoTwoRight">
                    <div className="row justify-content">
                        <div className="col-12">
                            <h5>Comentarios</h5>
                            <br>
                        </div>
                        <div className="col-6">
                            <p>Muy ricos </p>
                        </div>
                        <div className="col-6">
                            <p>☆☆☆☆☆</p>
                        </div>
                        <div className="col-12" id="productoTxtComentarios"> 
                            <p>
                                Quedaron muy suaves, a mis hijas les gustaron.
                            </p>
                            <br><br>
                        </div>
                        <div className="col-6">
                            <p>Un poco caros </p>
                        </div>
                        <div className="col-6">
                            <p>☆☆☆</p>
                        </div>
                        <div className="col-12" id="productoTxtComentarios"> 
                            <p>
                                La verdad que hubiese preferido hacerlos yo.
                            </p>
                            <br><br>
                        </div>
                        
                    </div>
                </div>
            </div>

          </div>
      </div>

  </body>
</html>