.Login{
    margin-left: 5% ;
    margin-right: 5% ;
    margin-top: 3%;
    margin-bottom: 2%;
}

.Login-logo{
    max-height: 200px;    
    border: 1px solid  #506048;
    border-radius: 100%;
    margin-bottom: 10px;
}

body, #root, #container{
    height: 100%;
}

#info{
    width: 60%;
    margin: auto;
}


.Login-title{
    text-align: center;
}

#tarjeta{
    width: 70%;
    height: 90%;
    margin: auto;
    background-color: #ffffff;
    margin-top: 30px;
    border: 1px solid #b8b8b8;
    border-top: 5px solid  #506048 ;
}



#registrate{
    margin-top: 30px;
    text-align: center;
    font-size: 11px;
}
#btn-round{
    width: 40%;
    background: #506048;
    border:none;
}

#cont_button{
    display: flex;
    align-items: center;
    justify-content: center;
}

#registrate a{
    color: #B06058;
}