/* Estilo para el componente de Detalle de Productos*/


.image {
    border: 1px solid #ddd;
    border-radius: 10%;
    max-width: 70%;
    height: auto;
}

[id$=totlabel]>p {
    border-top: solid 2px;
    border-color: #506048;
}

#btnAgregarCarrito{
    background-color: #506048;
}

#card-body-img{
    align-content: center;
    text-align: center;
}


#imgContainer, #productoVendedor{
    padding-top: 5%;
}

#iconEstrella{
    font-size: 12px;
}

#imgCard{
    background-color:#F0F0E0;
    color: black;
}



#productoComentarios p{
    color: gray;
}


#productoDescripcion, #productoComentarios{
    text-align: justify;
}

#productoPreFactura, #productoComentarios{
    padding-top: 2%;
}


#productoUpRight{
    padding: 4%;
}
