body{
    background-color: white;
    
}
body{
    background-color:#f7f7fc;
}

#btn_confModal{
    background: #f4733e;
    color:white;
    font-style: bold;
}

#main{
    display: flex;
}

#info_detail{
    border-left: 1px solid #b8b8b8;
    position: fixed;
    right: 0px;
    height: 100%;
    background-color: white;
}

.productoContenedor{
    transform: scale(0.95);
    background-color: white;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.26);
    margin: 10px 0;
    padding: 20px 0;
}
.productoContenedor:hover{
    transform: scale(0.96);

}
table{
    empty-cells: hide;
    margin: 10px 0;
    table-layout: fixed ;
}
th,td{
    text-align: center;
    margin: 10px 0 10px 0;
}
tr { line-height: 32px; }
.vacioCarrito{
    color: rgba(0,0,0,0.15);
    text-align: center;
    z-index: 999;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    font-weight: bold;
}
@media screen and (max-width: 992px) {

    .valor{
        display: none;
    }

  }
#lista_pedidos ol li:last-child{
    list-style: none;
}

#productos_detail{
   margin-top: 20px;
}

#productos_detail img{
    max-width: 100px;
}

.descripcion{
    margin-left: 15px;
}

.valor{
    margin-left: 15px;
}

nav{
    background-color: #af6b58;
    position: sticky !important; 
    top: 0px !important;
}
nav a h3{
    color:white;
}
.Cuenta ul{
    list-style: none;
}

.Cuenta{
    display: grid;
    grid-template-columns: 60% 40%;
}

#metodo_selection > div{
    width: 100%;
}
#record_method{
    text-align: left;
    font-size: 15px;
    margin-left:70% ;
    padding-bottom: 5%;
    color: rgb(114, 114, 114);
}
.boton_notificacion{
    margin-right: 3px!important;
}

#cvc{
    margin-left: 20%;
}


#cont_icon_carrito{
    position: relative;
    padding: 0px;
}
#cont_icon_carrito p{
    position: absolute;
    top:0px;
    right: 0px;
    background-color: red;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    font-size: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}
#Pago{
    border-top: 1px solid #b8b8b8;
    padding-top: 5%;
}

#btn_continue{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#time_send{
    border-top: 1px solid #b8b8b8;
    padding-top: 5%;
    text-align: center;
}

#btn_continue Button{
    background-color:#f4733e;
}

#title_detail{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

* {
	box-sizing: border-box;
}


@media (max-width: 600px) and (orientation: portrait) {
   
   
    .col-md-8  { width: 100% !important; }
    .col-md-4  { width: 100% !important; }
    #main{        
        display: block !important;
    }
    #info_detail{
        border-top: 1px solid #b8b8b8;
        position: static !important;
    }
 }
 @media only screen and (max-width: 700px) {
    .MuiButton-root {
        min-width: 10px !important;
    }

 }