/*Ajustar al 100 html. body y contenedor general */
html, body {
    height:100% !important;
}

#cont_general{
    height:100% !important;
}

/*Ajustar al 90% de la pantalla del cliente el formulario*/
#seccionForm{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    width: 90%;
}

#cont_secForm{
    height: 100% !important;
    display: flex;
    justify-content: center;

}


/*Ajustar imagen de la izquierda*/
.img_urbi img{
    width: 100%
}

.img_urbi{
    padding-right: 0px;
}

/*Contenedor de formularios en cada step*/
.cont_formulario{
    background-color: white;
}
.cont_formulario p{
    margin-top: 0px;
}

/*Campos en grupo*/
.groupLabels{
    display: grid;
    grid-template-columns: 48% 48%;
}

.first_child{
    margin-right: 6%;
}

.second_child{
    margin-left: 6%;
}

.container_reg{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
}

/*Navbar*/
.navBarRegister{
    justify-content: flex-start !important;
}

.separator{
    margin-top: 20px;
}


/*Tarjeta de formulario*/
.trj{
    border-top: 1px solid #b8b8b8 !important;
    margin: auto;
}

.trj p{
    margin-bottom: 0px;
}




.panelDatos{
    padding-left: 0px;
    height: 100%  !important;
}

.datos1{
    padding-top: 15px;
}

#btn_sgt{
    display: flex;
    justify-content: flex-end;
}

/*Botones bottom*/
#buttonsControl{
    display: flex;
    justify-content: flex-end;
}

#buttonsControl #next{
    color: white;
    background-color: #506048;
}

.metodo{
    margin-bottom: 20px;
}
.form-check-label{
    color: rgb(107, 107, 107);
}

/*Mensajes en feedback*/
.feedback{
    font-size: x-small;
    color: red;
}

/*Método de pago*/
.metodo{
    padding: 0px;
}

#cvc{
    margin: 0px !important;
}

#link_login{
    position: absolute;
    right: 5%;
}

#link_login a{
    color: white;
    text-decoration: none;
}

.logo_reg{
    margin-left: 2%;
}

#logo_resp{
    display: none;
}


/*Media queries*/
@media only screen and (max-width: 800px) {
    
    #seccionForm{
        display: block;
        height: 100%;
        margin-left: 5px;
        margin-right: 5px;
        width: 90%;
    }
    .img_urbi{
        display: none;
    }
    .container_reg{
        width: 100%;
    }
    .card-title{
        height: 15%;
    }
    #logo_resp{    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #logo_resp img{
        width: 50%;
    }

}